.admin-container {
    width: 80%;
    margin-left: 10%;
    margin-bottom: 5%;

    background-color: darkslateblue;
    border-radius: 25px;
    color: whitesmoke;
}

.admin-instruction {
    font-size: 50px;
    text-align: center;
}

.password-container {
    display: flex;
    flex-direction: horizontal;
}

.input-pass {
    width: 80%;
    height: 50px;
    margin-left: 5%;
    margin-bottom: 5%;

    font-size: 25px;
    padding-left: 25px;
    border-color: transparent;
    border-radius: 15px;
    background-color: whitesmoke;
    color: midnightblue;
    font-family: 'Trebuchet MS';
}
.input-pass.warn {
    color: darkred;
    font-weight: bold;
}

.show-pass {
    transform: scale(2.5);
    margin-left: 5%;
    margin-bottom: 5%;
}

input[type="checkbox"] {
    accent-color: midnightblue;
}

.check-pass {
    width: 40%;
    height: 50px;
    margin-left: 30%;
    margin-bottom: 5%;

    border-radius: 15px;
    background-color: whitesmoke;
    border-color: transparent;
    color: midnightblue;
    font-size: 25px;
    font-weight: bold;

    transition: transform 0.5s ease;
}
.check-pass.create {
    margin-top: 5%;
}
.check-pass:hover {
    transform: scale(1.1);
}
.check-pass.loading {
    background-color: slategray;
}
.check-pass.back {
    margin-top: 5%;
    margin-bottom: 2.5%;
}

.admin-option-container {
    display: flex;
    flex-direction: horizontal;
}

.admin-option {
    width: calc(100% / 3);
    aspect-ratio: 1/1;
    margin-left: calc(100% / 9);
    margin-bottom: 50px;

    text-align: center;
    background-color: darkslateblue;
    border-radius: 25px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transition: transform 0.5s ease;
}
.admin-option:hover {
    transform: scale(1.1);
}

.post-input {
    height: 25px;
    width: 90%;
    margin-left: 2.5%;
    border: transparent;
    border-radius: 5px;
    font-size: 15px;
    padding-left: 5px;

    color: midnightblue;
    font-family: 'Trebuchet MS';
}

.content-input {
    width: 90%;
    margin-left: 2.5%;
    border: transparent;
    border-radius: 5px;
    font-size: 15px;
    padding-left: 5px;
    padding-right: 5px;
    min-height: 250px;
    line-height: 1.5;
    resize: none;

    color: midnightblue;
    font-family: 'Trebuchet MS';
}

.admin-display {
    display: flex;
    flex-direction: column;
}

.admin-post {
    display: flex;
    flex-direction: row;
    height: 150px;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 5%;

    background-color: whitesmoke;
    color: midnightblue;
    border-radius: 25px;    
}

.admin-post-description {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.delete-button {
    height: 100px;
    aspect-ratio: 1/1;
    margin-top: 25px;
    margin-left: 25%;

    background-color: darkred;
    color: whitesmoke;
    border-radius: 50%;
    font-size: 50px;
    text-align: center;
    border-color: transparent;

    transition: transform 0.5s ease;
}
.delete-button:hover {
    transform: scale(1.1)
}