html {
    scrollbar-width: none;
}
html::-webkit-scrollbar {
    display: none;
}

.container {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;

    z-index: -100;
}

.info {
    width: 80%;
    margin-left: 10%;

    background-color: darkslateblue;
    border-radius: 25px;
    color: whitesmoke;
}

.heading {
    font-size: 40px;
    text-align: center;
}

.subheading {
    font-size: 30px;
    padding-left: 25px;
}

.text {
    font-size: 20px;
    padding-left: 25px;
}

.everything-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    min-height: 100vh;
    top: 20%;
    left: 0;
    width: 100%;
}